@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');
.namefont{
    font-family: 'Poppins', sans-serif;
}
.tablefont{
    font-family: 'Martian Mono', monospace;
}

.tablecontainer{
    width: 500px;
    min-width: 300px;
    padding: 2rem;
}

@media screen and (max-width: 520px) {
    .tablecontainer{
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .tablecontainer{
        width: 200px;
    }
}
